 <div class="container">
     <h2 class="text-title">Sube de categoría</h2>
     <p>
         <strong>Tu cuenta:</strong><br/>
         sebas.black.y@gmail.com a PREMIUM.
     </p>    
<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">      
<form class="text-left">
    <div class="form-group">
    <strong>1. ELIGE UN PLAN:</strong> Cancela cuando quieras. Sin compromisos.
    <div class="row planes">    
        <div class="col-xs-4">
        <label class="radio"><input type="radio" name="genero"><br/><strong>&#36;5,99 /</strong><br/>mensual. 1er mes gratis</label>
        </div>
        <div class="col-xs-4">
        <label class="radio"><input type="radio" name="genero"><br/><strong>&#36;7,99 /</strong><br/>3 meses. Promoción limitada</label>
        </div>
        <div class="col-xs-4">
        <label class="radio"><input type="radio" name="genero"><br/><strong>&#36;12,99 /</strong><br/>1 año</label>
        </div>    
    </div>    
    </div>
    <div class="form-group">
    <strong>2. INGRESA TUS DATOS DE PAGO:</strong>
    </div>
    <div class="form-group">
        <div class="row" style="display:flex">
            <div class="col-xs-7">
                <span style="vertical-align: sub;">Numero de tarjeta</span>
            </div>
            <div class="col-xs-5">
                <img class="img-credit-card" src="./assets/img/visa.png"/><img class="img-credit-card" src="./assets/img/mastercard.png"/>
            </div>    
        </div>
        <div class="form-group has-feedback">
        <input type="text" class="form-control input-lg" placeholder="1111 2222 3333 4444">
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
        </div>
        
    </div>
    <div class="form-group">
    Fecha de vencimiento    
    </div>
    <div class="form-group">
        <div class="col-xs-5 no-padding">
        <input type="text" class="form-control input-lg" placeholder="Mes">
        </div>
        <div class="col-xs-5">
        <input type="text" class="form-control input-lg" placeholder="Año">
        </div>
    </div>
    <div class="form-group">
    Codigo de Seguridad <img class="" src="./assets/img/information.png"/>
    </div>
    <div class="row form-group">
            <div class="col-xs-5">
                <input type="text" class="form-control input-lg" placeholder="CVC">
            </div>
            <div class="col-xs-7">
                <img class="" src="./assets/img/cvc_example.png"/>
            </div>
    </div>
    
    <div class="row form-group separador">
    </div>
    <div class="form-group">
    <strong>3. DETALLE DE COMPRA</strong>
    </div>
    <div class="row form-group">
        <div class="col-xs-8">
        Plan Mensual Premiun 
        </div>
        <div class="col-xs-4 text-right">
        <strong>$5.99</strong>
        </div>
         
    </div>
    <div class="row form-group">
         <p class="text-muted text-justify">
            Te cobraremos 9,99 US$ mensualmente incluidos los impuestos aplicables hasta que canceles la suscripción. Los cobros anteriores no se reembolsarán cuando canceles la suscripción, a menos que lo exija la ley. Tus datos de pago están cifrados y seguros. Todos los montos se muestran en USD.
          </p>
     </div>      
    <div class="form-group">
          <label class="radio-inline"><input type="checkbox">Acepto los <a href="">Términos y Condiciones</a></label>
    </div>
    <div class="form-group">
    <button class="btn-primary btn-block">COMPRAR AHORA</button>
    </div>
</form>
</div>
</div>
