 <div class="container">

     <p>
         ¡Registrate para empezar a cantar <strong>GRATIS!</strong>
     </p>    
<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">      
<form>
    <div class="form-group">
    <input type="text" class="form-control input-lg" placeholder="Nombre">
    </div>
    <div class="form-group">
    <input type="email" class="form-control input-lg" placeholder="Email">
    </div>
    <div class="form-group">
    <input type="password" class="form-control input-lg" placeholder="Contraseña">
    </div>
    <div class="form-group">
    <input type="password" class="form-control input-lg" placeholder="Confirmar Contraseña">
    </div>
    <div class="form-group">
          <label class="radio-inline input-lg"><input type="radio" name="genero">Masculino</label>
          <label class="radio-inline input-lg"><input type="radio" name="genero">Femenino</label>
    </div>
    <div class="form-group">
    <button class="btn-primary" [routerLink]="['/']">REGISTRARME</button>
    </div>
</form>
    <a href="#">¿Ya tienes una cuenta?</a>
</div>
<!--<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button class="btn-primary" type="submit">Add</button>
</form>-->

</div>
