<div class="row step1">
    <div>
    <img class="img-responsive" src="./assets/img/isotipoks.png"/>
    <span>Conectar un dispositivo</span>
    </div>
</div>   
 <div class="container">

     <p>
         Introduce el código que se muestre en tu dispositivo <strong>LG Smart TV.</strong>
     </p>    
<div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">      
<form>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Introduce el Código">
    </div>
    <div class="form-group">
    <button class="btn-primary" [routerLink]="['/']">SIGUIENTE</button>
    </div>
</form>
 </div>
<!--<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button class="btn-primary" type="submit">Add</button>
</form>-->

</div>
