<div class="container">
<img class="img-responsive welcome" src="./assets/img/welcome.png"/>
<h2 class="welcome"><strong>¡Bienvenido a la fiesta!</strong></h2>
<p class="welcome">
  ¡Iniciaste sesión en tu TV, vuelve a tu dispositivo para continuar la fiesta!
</p>
<form>
<button class="btn-primary" [routerLink]="['/step1']">ENTENDIDO</button>
</form>

<!--<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button class="btn-primary" type="submit">Add</button>
</form>-->

</div>